body{
    background-color: black;
}
.about{
    text-align: center;
    
    
}
.about-img{
    margin: auto;
    display: block;
    margin-top: 3rem;
    animation: fadeInLeft 3s;
    
}
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateY(-100px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }   
 #contact-icon {
    
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#edc{
    margin-top: 15rem;
}
#crd{
    margin-top: 4rem;
}
#skl{
    margin-top: 10rem;
    
}
.skill-body{
    margin-top: 5rem;
    margin: auto;
}


#footer {
    color: white;
    background-color: black;
    font-family: var(--font);
    padding: 2em;
    margin-top: 15rem;
}
#follow{

    text-align: center;
    display: flex;
    justify-content: center;
}
#follow-links {
    padding: 0px 30px;
    width: 15%;
    margin-top: 0.5rem;
    display: flex;
    
}
#copyright{
   text-align: center;
   color: gray;
}
.credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
  }
  @media (max-width: 992px) {
    .credits {
      text-align: center;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  .credits a {
    color: #18d26e;
    transition: 0.3s;
  }
  .credits a:hover {
    color: #fff;
  }